<configuration>
	<appSettings>
		<add key="MySQLConnectionString" value="Server=localhost;          Database=pf;          Uid=root;          Password=dadalus123;"/>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="MySql.Data, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
				<add assembly="MySql.Web, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
				<add assembly="office, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
				<add assembly="Microsoft.Vbe.Interop, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/></assemblies>
		</compilation>
	</system.web>
	<system.webServer>
		<httpErrors>
			<remove statusCode="404" subStatusCode="-1"/>
			<error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL"/>
		</httpErrors>
		<rewrite>
			<rules>
				<rule name="JSPtoASPX" stopProcessing="true">
					<match url="^([0-9a-z-]+).jsp"/>
					<action type="Redirect" url="{R:1}.aspx"/>
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
